body {
    background-color: #1a1a1a; /* Fondo oscuro */
    color: #ccc; /* Texto gris claro */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #ff0000; /* Rojo sangriento */
    text-shadow: 2px 2px 5px #660000; /* Sombra oscura */
    margin: 0;
    font-size: 36px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #ccc;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff0000;
}

main {
    padding: 20px;
}

h2 {
    color: #ff0000; /* Rojo para el encabezado */
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #ccc;
}

input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #cc0000;
}

.resultado {
    margin-top: 20px;
    text-align: center;
    color: #ff0000;
    font-weight: bold;
}

footer {
    background-color: #333; /* Fondo del pie de página */
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}